#app.default-theme {
  background: #eef5fd
}

#app.default-theme * {
  transition: background .2s linear
}

#app.default-theme .view-login {
  border-radius: .05rem;
  background: rgba(255, 255, 255, 0.7);
}

#app.default-theme .view-login h1 {
  color: #343463
}

#app.default-theme .view-login .el-checkbox__label,
#app.default-theme .view-login .el-button--text {
  color: #343463
}

#app.default-theme .view-login .el-checkbox__inner {
  background-color: #343463;
  border-color: #343463
}

#app.default-theme .links {
  color: #343463
}

#app.default-theme .hd {
  background: #fff;
  color: #4291BE;
  padding: 0 .25rem;
  position: relative;
  z-index: 3
}

#app.default-theme .hd .title a {
  color: #4290BE;
  text-decoration: none
}

#app.default-theme .hd-bar {
  flex: 1;
  text-align: right
}

#app.default-theme .bd {
  color: #343463
}

#app.default-theme .bd .container {
  position: relative;
  z-index: 1
}

#app.default-theme .nav {
  box-shadow: 0.07rem 0 0.29rem 0 rgba(209, 209, 209, 0.35);
  background: #fff;
  position: relative;
  z-index: 2
}

#app.default-theme .nav li {
  color: #a4a4ae
}

#app.default-theme .nav li.active .text {
  background: #eef5fd;
  color: #4d7bf3
}

#app.default-theme .nav li.active .children li.active .child-text {
  color: #4d7bf3
}

#app.default-theme .nav .pull {
  background: #fff;
  color: #a4a4ae;
  cursor: pointer
}

#app.default-theme .nav .right {
  border-right: 1px solid #2b2c55;
  background: #343463
}

#app.default-theme .nav .right li {
  color: #fff
}

#app.default-theme .nav .right li:not(:last-child) {
  border-bottom: 1px solid #2b2c55
}

#app.default-theme .nav .right li.active {
  background: #26274b;
  color: #fff
}

#app.default-theme .ft {
  background: #d8d8d8;
  color: #343463
}

#app.default-theme .component-nav {
  background: #fff
}

#app.default-theme .component-sitemap {
  color: #4290be
}

#app.default-theme .component-sitemap a:last-child {
  color: #666
}

#app.default-theme .component-tablefilter .label {
  color: #666
}

#app.default-theme .component-tabs {
  color: #666
}

#app.default-theme .component-tabs .active {
  color: #4290BE
}

body.default-theme .el-select-dropdown__item {
  color: #343463
}

/* body.default-theme .el-select .el-input.is-focus .el-input__inner,
body.default-theme .el-select .el-input__inner:focus {
  border-color: #26274b
} */

body.default-theme .el-select-dropdown__item.selected {
  color: #26274b !important
}

/* body.default-theme .el-input.is-active .el-input__inner,
body.default-theme .el-input__inner:focus {
  border-color: #26274b
} */


body.default-theme .el-button {
  border-radius: .4rem;
  height: .4rem
}

body.default-theme .el-button-default {
  background: #fff;
  border-color: #4290BE;
  border-color: #EFF0F8
}

body.default-theme .el-button--primary {
  background-color: #4290BE;
  border-color: #fff
}

body.default-theme .el-button--primary:hover,
body.default-theme .el-button--primary:active,
body.default-theme .el-button--primary:focus {
  background-color: #4290BE;
  border-color: #fff
}

body.default-theme .el-table .el-table__header-wrapper th,
body.default-theme .el-table .el-table__header-wrapper tr,
body.default-theme .el-table .el-table__fixed-header-wrapper th,
body.default-theme .el-table .el-table__fixed-header-wrapper tr {
  background: #F8F9FB;
  color: #333;
  height: .49rem;
  line-height: .49rem;
  padding: .06rem 0
}

body.default-theme .el-date-editor {
  width: 100%
}

body.default-theme .el-date-editor .el-range-separator {
  padding: 0;
  width: 7%
}

body.default-theme .el-date-editor .el-range-input {
  width: 50%
}

body.default-theme .custom-tooltip {
  font-size: 0;
  height: .75rem
}

body.default-theme .custom-tooltip span {
  display: block;
  text-align: center
}

body.default-theme .custom-tooltip span:nth-child(1) {
  background: #a7ccfa;
  color: #333;
  font-size: .19rem;
  height: .29rem;
  line-height: .29rem;
  width: 1.26rem
}

body.default-theme .custom-tooltip span:nth-child(2) {
  background: #fff;
  color: #333;
  font-size: .24rem;
  font-weight: bold;
  height: .46rem;
  line-height: .46rem;
  position: relative;
  width: 1.26rem
}

#app.red-theme {
  background: #95090a
}

#app.red-theme * {
  transition: background .2s linear
}

#app.red-theme .view-login {
  border-radius: 3px;
  background: #fff;
  height: 270px;
  padding: 20px 30px
}

#app.red-theme .view-login h1 {
  color: #343463
}

#app.red-theme .view-login .el-checkbox__label,
#app.red-theme .view-login .el-button--text {
  color: #343463
}

#app.red-theme .view-login .el-checkbox__inner {
  background-color: #343463;
  border-color: #343463
}

#app.red-theme .hd {
  background: red;
  color: #fff;
  padding: 0 10px
}

#app.red-theme .hd .title a {
  color: #fff;
  text-decoration: none
}

#app.red-theme .hd-bar {
  flex: 1;
  text-align: right
}

#app.red-theme .bd {
  color: #343463
}

#app.red-theme .bd .component-sitemap {
  border-bottom: 1px solid #dcdfe6
}

#app.red-theme .bd .component-sitemap a,
#app.red-theme .bd .component-sitemap i {
  color: #343463
}

#app.red-theme .nav {
  background: #aa0d0d
}

#app.red-theme .nav li {
  color: #fff
}

#app.red-theme .nav li.active {
  background: #95090a;
  color: #fff
}

#app.red-theme .nav .right {
  border-right: 1px solid #ae1d1d;
  background: #95090a
}

#app.red-theme .nav .right li {
  color: #fff
}

#app.red-theme .nav .right li:not(:last-child) {
  border-bottom: 1px solid #ae1d1d
}

#app.red-theme .nav .right li.active {
  background: #820708;
  color: #fff
}

#app.red-theme .ft {
  background: red;
  color: #fff
}

body.red-theme .el-select-dropdown__item {
  color: #343463
}
.view-login .el-input,.view-login .el-input .el-input__inner{
  height: 0.56rem;
  font-size: 0.18rem;
  background: none;
}
/* body.red-theme .el-select .el-input.is-focus .el-input__inner,
body.red-theme .el-select .el-input__inner:focus {
  border-color: #820708
} */

body.red-theme .el-select-dropdown__item.selected {
  color: #95090a !important
}

/* body.red-theme .el-input.is-active .el-input__inner,
body.red-theme .el-input__inner:focus {
  border-color: #820708
} */

body.red-theme .el-button--primary {
  background-color: #95090a;
  border-color: #fff
}

body.red-theme .el-button--primary:hover,
body.red-theme .el-button--primary:active,
body.red-theme .el-button--primary:focus {
  background-color: #820708;
  border-color: #fff
}

body.red-theme .el-table .el-table__header-wrapper th,
body.red-theme .el-table .el-table__header-wrapper tr,
body.red-theme .el-table .el-table__fixed-header-wrapper th,
body.red-theme .el-table .el-table__fixed-header-wrapper tr {
  background: #f1f1f1;
  color: #343463;
  padding: 6px 0
}